*.war
*.ear
.classpath
.project
.settings
target

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
*.DS_Store
*.json
user.mongouser
app.log
*Thumbs.db
game/data/test.log
game/data/test.lck
*test.properties
*.log