body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #03374C;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 745px;
	background-color: #03374C;
	margin: 0 auto;
  	left: 0;
  	right: 0;
	position: fixed;
	height: 100%;
}
.botonAmarillo {
	background-image: url(../imgs/Mensaje.png);
	position: absolute;
	visibility: visible;
	width: 245px;
	height: 43px;
	z-index: 2;
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
	text-align: center;
	color: #000;
	text-decoration: none;
	line-height: 2.3em;
}
.botonAmarillo:hover {
	background-image: url(../imgs/Mensaje_over.png);
	
}
.quesitoJugador {
	position: absolute;
	width: 56px;
	height: 56px;
	visibility: visible;
	
}
#quesitoJugador1 {
	background-image: url(../imgs/FichasSmall/FichaRo_null_null_null_null.png);
	left: 41px; 
	top: 42px;
}
#quesitoJugador2 {
	background-image: url(../imgs/FichasSmall/FichaVe_null_null_null_null.png);
	left: 41px; 
	top: 123px;
}
#quesitoJugador3 {
	background-image: url(../imgs/FichasSmall/FichaAm_null_null_null_null.png);
	left: 41px; 
	top: 204px;
}
#quesitoJugador4 {
	background-image: url(../imgs/FichasSmall/FichaAz_null_null_null_null.png);
	left: 41px; 
	top: 286px;
}
.form-control {
    display: inline-block;
    width: 150px;
    height: 32px;
    padding: 6px 12px;
    color: #555;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 15px;
    line-height: 1.42857;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	box-sizing: border-box;
	margin: 0px;
}
.elementoFormulario {
	position: absolute;
	display: block;
	
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}
.form-control:focus {
    border-color: #DEBF28;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(222, 191, 40, 3);
}
label {
	color: #FFF;
	font-size: 14px;
}