<html>
	<head>
		<script type="text/javascript">
			function hacerPregunta(){
				// Este es el trozo de codigo para usar AJAX
				var xmlhttp;
				if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
					xmlhttp=new XMLHttpRequest();
				}
				else { // code for IE6, IE5
					xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
				
				// Esto es lo que ejecutará la llamada AJAX cuando termine
				xmlhttp.onreadystatechange=function() {
					if (xmlhttp.readyState==4 && xmlhttp.status==200){
						// Recojo la respuesta de AXAJ, en este caso el json de una pregunta alatoria de historia
						document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
						var textJSON = document.getElementById("myDiv").innerHTML;
						
						// Convierto el texto JSON a un objeto JSON
						var pregunta = JSON.parse(textJSON);
						
						// Muestro la lista de respuestas que de primeras está oculta
						document.getElementById("lista_respuestas").style.display = "block";
						
						// En accedo a las diferentes partes del html rellenandolas con la informacion
						// del objeto JSON
						document.getElementById("enunciado").innerHTML = pregunta.enunciado;
						document.getElementById("primera_respuesta").innerHTML = pregunta.respuestas[0].respuesta;
						document.getElementById("segunda_respuesta").innerHTML = pregunta.respuestas[1].respuesta;
						document.getElementById("tercera_respuesta").innerHTML = pregunta.respuestas[2].respuesta;
						document.getElementById("cuarta_respuesta").innerHTML = pregunta.respuestas[3].respuesta;
					}
				}
				
				// Aqui abro la conexion con la llamada REST
				xmlhttp.open("GET","http://localhost:9000/preguntas/random/historia",true);
				
				// Envio la peticion GET
				xmlhttp.send();
			}
		</script>
	</head>
	<body>
		<h1>Bienvenido a Trivial4b!</h1>
		<button onclick="hacerPregunta()">Hacer pregunta</button>
		<div style="display: none;" id="myDiv"></div>
		<p id="enunciado"></p>
		<ul id="lista_respuestas" style="display: none;">
			<li id="primera_respuesta"></li>
			<li id="segunda_respuesta"></li>
			<li id="tercera_respuesta"></li>
			<li id="cuarta_respuesta"></li>
		</ul>
	</body>
</html>