<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="assets/stylesheets/estilos.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
    <title>TrivialArquisoft - Inicio</title>
    
    <script type="text/javascript">
	
		var isValidado = false;
	
		function MM_preloadImages() { //v3.0
			var d=document;
			if(d.images){
				if(!d.MM_p)
					d.MM_p=new Array();
				var i,j=d.MM_p.length,a=MM_preloadImages.arguments;
				for(i=0; i<a.length; i++)
				if (a[i].indexOf("#")!=0){
					d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
				}
			}		
        }
		
		function abrirDialogoJugadores(){
			$('#modalJugadores').on({
			  'loaded.bs.modal': function(e){
			   $('#nombreExistente1').attr('disabled', true);
			   $('#labelUsuariosValidados').text('Cargando lista de jugadores existentes ...');
			   $('#labelUsuariosValidados').css('visibility', "visible");
			   cargarJugadoresExistentes();
			  }
			})
			
			$('#modalJugadores').modal({
			  backdrop: 'static',
				remote: 'assets/modal_Jugadores.html'
			})
		}
		
		
		function cargarJugadoresExistentes(){
			var xmlhttp = createAJAX();
				
			// Esto es lo que ejecutará la llamada AJAX cuando termine
			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200){					
					var respuestaJSON = xmlhttp.responseText.replace(/&quot;/g,"\"");
					var usuarios = JSON.parse(respuestaJSON).usuarios;	
					for( i = 0; i < usuarios.length; i++){
						$('#nombreExistente1').append($('<option>', {
  							value: i,
  				    		text: usuarios[i].usuario
						}));				
					}
					$('#nombreExistente1').attr('disabled', false);	
					$('#labelUsuariosValidados').css('visibility', "hidden");	
				}
			}
			executeAJAX(xmlhttp,"GET","http://localhost:9000/usuarios");
		}
	
		function ira_Jugar() {
			if(isValidado){
				//cerrar el diálogo modal
				$('#modalJugadores').modal('hide');
				window.location.href="trivial";
			}
			else{
			$('#labelUsuariosValidados').text('Se deben validar los usuarios antes de comenzar.');
			$('#labelUsuariosValidados').css('visibility', "visible");
			}
		}
		
		
		function validaPass(usuario, pass) {
				var xmlhttp = createAJAX();
				
			// Esto es lo que ejecutará la llamada AJAX cuando termine
			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200){					
					var respuestaJSON = xmlhttp.responseText.replace(/&quot;/g,"\"");
					var resultado = JSON.parse(respuestaJSON);	
					if(resultado.validacion) {
						$('#labelUsuariosValidados').text('Usuarios validados correctamente, ya se puede comenzar el juego');
						$('#labelUsuariosValidados').css('visibility', "visible");
						
						$('#nombreNuevo1').attr('disabled', true);
						$('#password1').attr('disabled', true);
						$('#nombreExistente1').attr('disabled', true);
						
						isValidado = true;
					} else {
						$('#labelUsuariosValidados').text('Password Incorrecto');
						$('#labelUsuariosValidados').css('visibility', "visible");
						isValidado = false;
					}
				}
			}
			executeAJAX(xmlhttp,"GET","http://localhost:9000/usuarios/validar/"+usuario+"/"+pass);	 
		}
		
		
		function comprobarCamposParaLlamada() {
			//cerrar el diálogo modal
			var username = $('#nombreNuevo1').val();
			var password = $('#password1').val();
			var nExistente = $('#nombreExistente1').val();
			var existente = $("#nombreExistente1 option[value='"+nExistente+"']").text();
			
			if(username != '' && password != '' && nExistente == "seleccionar"){				
				$('#nombreNuevo1').attr('disabled', true);
				$('#password1').attr('disabled', true);
				$('#nombreExistente1').attr('disabled', true);
				
				$('#labelUsuariosValidados').text('Guardando usuarios');
				$('#labelUsuariosValidados').css('visibility', "visible");
				isValidado = true;
				
				guardarUsuario(username,password);
			}
			else if(username == '' && password != '' && nExistente != "seleccionar"){
				validaPass(existente, password);	
			}
			else{
				$('#labelUsuariosValidados').text('No se ha podido validar los usuarios, comprueba los datos e intentalo de nuevo');
				$('#labelUsuariosValidados').css('visibility', "visible");
			}
		}
		
		function guardarUsuario(username,password){
			var xmlhttp = createAJAX();
				
			// Esto es lo que ejecutará la llamada AJAX cuando termine
			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200){					
					var respuestaJSON = xmlhttp.responseText.replace(/&quot;/g,"\"");
					var comprobacion = JSON.parse(respuestaJSON);
					
					if(comprobacion.resultado){
						var username = $('#nombreNuevo1').attr('disabled', true);
						var password = $('#password1').attr('disabled', true);
						var existente = $('#nombreExistente1').attr('disabled', true);
						
						$('#labelUsuariosValidados').text('Usuarios validados correctamente, ya se puede comenzar el juego');
						$('#labelUsuariosValidados').css('visibility', "visible");
					}
					else{					
						$('#nombreNuevo1').attr('disabled', false);
						$('#password1').attr('disabled', false);
						$('#nombreExistente1').attr('disabled', false);
					
						$('#labelUsuariosValidados').text('Error al introducir nuevo usuario, ¿usuario ya existente?');
						$('#labelUsuariosValidados').css('visibility', "visible");
					}
				}
			}
			executeAJAX(xmlhttp,"GET","http://localhost:9000/usuarios/save/"+username+"/"+password);
		}
		
	</script> 

</head>

<body onload="MM_preloadImages('assets/imgs/Mensaje_over.png')">
    
    <!-- Modal Jugadores -->
    <div class="modal fade" id="modalJugadores" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 644px; height: 150px;"></div><!-- contenido en: modal_Jugadores.html -->
      </div>
    </div>
    <!-- fin: Modal Jugadores -->

    
	<div class="contenedor" style="width: 1004px;">
        
        <div id="fondoInicio" class="fondo"></div>
                
        <a onclick = "abrirDialogoJugadores()" >
            <div id="boton1" class="botonAmarillo absoluto" style="left: 385px; top: 427px;">Comenzar</div>
        </a>
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script src="assets/javascripts/ajax.js"></script>
	

</body>

</html>
