<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TrivialArquisoft - Inicio</title>
<link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
</head>
    <body>
        <div class="container">
            <div class="fondo"></div>
            <a href="http://localhost:9000/login">
                <div id="botonInicio" class="botonAmarillo" style="left: 385px; top: 427px;">Comenzar</div>
            </a>
        </div>
    </body>
</html>